#app{
  height: 100%;
  height: 100%;
}

.body{
  height: 100%;
  height: 100%;
}

/* 适用于 Chrome, Safari, Edge */
::-webkit-scrollbar {
  display: none;
}

/* 适用于 Firefox */
html {
  scrollbar-width: none;
}

/* 适用于 IE/Edge */
body {
  -ms-overflow-style: none;
}